// Base colors
$colorBkg: #1A1616;
$colorMenu: #262626;
$colorHeadL: #D8BC79;
$colorBorder: #d6ba77;

// Font-size
$fontXXS: 0.8rem;
$fontXS: 0.9rem;
$fontS: 1rem;       // 16px
$fontM: 1.125rem;   // 18px
$fontL: 1.25rem;    // 20px
$fontXL: 3rem;      // 48px

// Space
$spaceXS: 0.5rem;
$spaceS: 1rem;
$spaceM: 2rem;
$spaceL: 3rem;
$spaceXL: 4rem;
$spaceXXL: 6rem;
$spaceXXXL: 8rem;

// z-index
$layer1: 0;
$layer2: 10;
$layer3: 99;
$layer4: 500;
$layer5: 999;
$layer6: 1500;